### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [93]:
player_counts= purchase_data_df.loc[:,["Gender","SN","Age"]]
player_counts=player_counts.drop_duplicates()
number_of_players=player_counts.count()[0]

pd.DataFrame({"Total Players" : [number_of_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
unique_items= purchase_data['Item ID'].nunique()
average_price= purchase_data['Price'].mean()
total_purchases= purchase_data['Purchase ID'].count()
revenue= purchase_data['Price'].sum()

purchasing_analysisdf = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price":[average_price],
    "Number of Purchases":[total_purchases],
    "Total Revenue":[revenue]})

purchasing_analysisdf["Average Price"]= purchasing_analysisdf["Average Price"].map("${:,.2f}".format)
purchasing_analysisdf["Total Revenue"]= purchasing_analysisdf["Total Revenue"].map("${:,.2f}".format)

purchasing_analysisdf

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [82]:
gender_total= player_counts["Gender"].value_counts()
gender_percent= gender_total/number_of_players

gender_demodf= pd.DataFrame({
    "Total Count": gender_total,
    "Percentage of Players": gender_percent})

gender_demodf["Percentage of Players"]=gender_demodf["Percentage of Players"].map("{:,.2%}".format)

gender_demodf

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
gender_purchase_count = purchase_data.groupby(["Gender"])["Price"].count()
gender_average_price = purchase_data.groupby(["Gender"])["Price"].mean()
gender_total_purchase = purchase_data.groupby(["Gender"])["Price"].sum()
gender_average_person = gender_total_purchase / gender_demodf["Total Count"]

purchase_analysisdf=pd.DataFrame({"Purchase Count":gender_purchase_count,
                                  "Average Purchase Price":gender_average_price,
                                  "Total Purchase Value":gender_total_purchase,
                                  "Avg Total Purchase per Person":gender_average_person})

purchase_analysisdf["Average Purchase Price"]= purchase_analysisdf["Average Purchase Price"].map("${:,.2f}".format)
purchase_analysisdf["Total Purchase Value"]= purchase_analysisdf["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysisdf["Avg Total Purchase per Person"]= purchase_analysisdf["Avg Total Purchase per Person"].map("${:,.2f}".format)

purchase_analysisdf

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [70]:
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,9999]
bin_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

player_counts["Age Ranges"]= pd.cut(player_counts["Age"],bins,labels=bin_labels)
demo_total=player_counts["Age Ranges"].value_counts()
demo_percentage= demo_total/number_of_players

age_demodf= pd.DataFrame({"Total Counts": demo_total,
                          "Percentage of Players":demo_percentage})

age_demodf=age_demodf.sort_index()
age_demodf

       Total Counts  Percentage of Players
<10              17               0.029514
10-14            22               0.038194
15-19           107               0.185764
20-24           258               0.447917
25-29            77               0.133681
30-34            52               0.090278
35-39            31               0.053819
40+              12               0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
purchase_data["Age Ranges"]= pd.cut(purchase_data["Age"],bins,labels=bin_labels)
age_total=purchase_data.groupby("Age Ranges").sum()["Price"]
age_average=purchase_data.groupby("Age Ranges").mean()["Price"]
age_count=purchase_data.groupby("Age Ranges").counts()["Price"]
average_total_person= age_total/age_demodf["Total Counts"]

purchasing_analysis= pd.DataFrame({"Total Counts": age_count,
                                   "Percentage of Players":average_total_person})

purchasing_analysis

AttributeError: 'DataFrameGroupBy' object has no attribute 'counts'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [81]:
top_spenders_total=purchase_data.groupby("SN").sum()
top_purchase_count=purchase_data.groupby("SN").count()
top_average_price=purchase_data.groupby("SN").mean()


top_spenders=pd.DataFrame({"Purchase Count": top_purchase_count,
                           "Average Purchase Price":top_average_price,
                           "Total Purchase Value":top_spenders_total})

ValueError: If using all scalar values, you must pass an index

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [87]:
item_data=purchase_data.loc[:,["Item ID","Item Name","Price"]]
purchase_count=item_data.groupby(["Item ID","Item Name"]).count()["Price"]
average_item_price=item_data.groupby(["Item ID","Item Name"]).mean()["Price"]
total_purchase=item_data.groupby(["Item ID","Item Name"]).sum()["Price"]

item_datadf=pd.DataFrame({"Purchase Count":purchase_count,
                           "Item Price": average_item_price,
                           "Total Purchase Value": total_purchase})

popular_item=item_datadf.sort_values("Purchase Count",ascending=False)
item_datadf["Item Price"]= item_datadf["Item Price"].map("${:,.2f}".format)
item_datadf["Total Purchase Value"]= item_datadf["Total Purchase Value"].map("${:,.2f}".format)
item_datadf

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,$1.28,$5.12
1,Crucifer,4,$2.94,$11.77
2,Verdict,6,$2.48,$14.88
3,Phantomlight,6,$2.49,$14.94
4,Bloodlord's Fetish,5,$1.70,$8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
181,Reaper's Toll,5,$1.66,$8.30
182,Toothpick,3,$4.03,$12.09
183,Dragon's Greatsword,3,$1.09,$3.27

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [91]:
profitable_item=item_datadf.sort_values("Total Purchase Value",ascending=False)

profitable_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36